
<div>

	{{#each Drones}}

		<div class="card">
			<p>{{this.name}}</p> 
            <p>{{this.propellers}}</p>
			<p>{{this.maxSpeed}}</p>
			<a href="/drones/{{this._id}}/edit">Edit this drone</a>
			<a href="/drones/{{this._id}}/delete">Delete this drone</a>
		</div>

	{{/each}}

</div>